/*
set some defaults to normalize the various browser defaults
*/
*{
	margin:0px;
	padding:0px;
}
/*
some basic styles for html selectors
*/
body{
	font-family:"arial";
	background-color:black;
}
h1, h2, h3, h4, h5, h6{
	font-family:"times new roman";
	margin:5px;
}
p{
	margin:12px 2px;
}


/*
-----------------------------------------------
the header and footer span the width of the entire page 
*/
header{
	background-color:#450716;
	height:90px;
	border-bottom: solid 5px #AD6376;
	color:#ffe47c;
}
footer{
	background-color:#450716;
	border-top: solid 5px #AD6376;
	color:#ffe47c;
	text-align:center;
	padding:10px;
	clear:both;
}
/*
the divs within the header and footer
will be fixed width centered,
also the nav
*/
header>div, nav, footer>div{
	width:850px;
	margin-left:auto;
	margin-right:auto;
}
/*
adjust the positioning of the logo image
*/
header>div>img{
	margin-top:10px;
}
nav{
	background-image:url("../images/bg.gif");
	height:30px;
	border-bottom: solid 2px #AD6376;
}
section{
	background-color:#ffe47c;
	width:826px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border:solid 2px #ccc;
	border-width:0px 2px;
	color:#444;
	min-height:200px;
}
/*
style an HTML list as a horizontal navigation
*/
nav>ul{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 80%;
	background: #fff url("../images/bg.gif") repeat-x bottom left;

}
nav>ul li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 1px solid #ddd;
	height:30px;
}
nav>ul a {
	float: left;
	padding: 6px 10px 6px 25px;
	text-decoration: none;
	color: #666;
	background: url("../images/arrow_off.gif") no-repeat 5px;
}
	
nav>ul a:hover, nav>ul a.active {
	color: #000;
	background-color: #fff;
}
nav>ul a.active {
	font-weight: bold;
	background: url("../images/arrow_on.gif") no-repeat 5px;
	background-color: #fff;
}
nav p{
	float:right;
	margin:0px;
	padding:6px 30px;
	color: #666;
	font:italic 15px "arial";
}

/*
---------------------------------------------
use sprites for the social media icons.
all icons are the same size...
*/	
#facebook, #twitter, #pinterest, #rss{
	display:block;
	float:right;
	width:25px;
	height:25px;
	margin:10px 5px;
	border: solid 2px #AD6376;
}
/*
each icon has its own images background
*/
#facebook{
	background:url("../images/sprites.png") 0px 0px;
}
#twitter{
	background:url("../images/sprites.png") 0px -70px;
}
#pinterest{
	background:url("../images/sprites.png") 0px -105px;
}
#rss{
	background:url("../images/sprites.png") 0px -35px;
}
/*
each icon has a hover effect
*/
#facebook:hover, #twitter:hover, #pinterest:hover, #rss:hover{
	border: solid 2px #ffe47c;
}